# Hugo Stuff
resources/
.hugo_build.lock
public/

# NPM Stuff
node_modules/
package-lock.json

# Terraform files
infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/*.auto.tfvars
