/* for the subtitle in the home page */
.prose :where(h2):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1em;
  line-height: 1.3333333;
}

/* 75% makes the content from blog posts and "about me" page as wide as it can be while keeping the comment section as narrow as it can be*/
.max-w-prose {
  max-width: 80%;
}

/* Add padding to the header */
.flex.items-center.justify-between.px-4.py-6.space-x-3 div {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Expand contact form to full width */
.min-w-0.min-h-0.max-w-prose div {
  min-width: 100ch;
}