{{ define "main" }}
  <article class="max-w-full">
    <header>
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
    </header>

    <!-- Dual content card -->
    <div class="contact-section flex mt-10">
      <!-- Right hand side -->
      <div class="contact-card flex-2 p-5 rounded-lg shadow-2xl text-center bg-neutral-700">
        <p class="text-neutral-200 text-2xl font-bold">
          Get in Touch
        </p>
        <br>
        {{ partial "contact/form" . }}
      </div>

      <!-- Left hand side -->
      <div class="contact-card flex-1 p-5 rounded-lg shadow-2xl text-center bg-neutral-900">
        <p class="text-neutral-100 text-2xl font-bold">
          Find me on...
        </p>
        <br>
        {{ partial "contact/social-cards" . }}
      </div>
    </div>

  </article>
{{ end }}
