:root {
	--color-neutral: 255, 255, 255;

	/* 0d117 */
	--color-neutral-50:     191,191,191;
	--color-neutral-100:    153,153,153;
	--color-neutral-200:    115,115,115;
	--color-neutral-300:    77,77,77;
	--color-neutral-400:    38,38,38;
	--color-neutral-500:    0,0,0;
	--color-neutral-600:    0,0,0;
	--color-neutral-700:    0,0,0;
	--color-neutral-800:    0,0,0;
	--color-neutral-900:    0,0,0;

	/* 1f6feb */
	--color-primary-50:     255,255,255;
	--color-primary-100:    255,255,255;
	--color-primary-200:    242,246,254;
	--color-primary-300:    171,201,248;
	--color-primary-400:    101,156,241;
	--color-primary-500:    31,111,235;
	--color-primary-600:    18,92,207;
	--color-primary-700:    15,76,169;
	--color-primary-800:    12,59,132;
	--color-primary-900:    8,42,94;

	/* 58a6ff */
	--color-secondary-50:     255,255,255;
	--color-secondary-100:    255,255,255;
	--color-secondary-200:    255,255,255;
	--color-secondary-300:    241,248,255;
	--color-secondary-400:    165,207,255;
	--color-secondary-500:    88,166,255;
	--color-secondary-600:    47,144,255;
	--color-secondary-700:    6,123,255;
	--color-secondary-800:    0,103,221;
	--color-secondary-900:    0,84,180;
	}